@media (max-width: 1200px) {
  .popular__items {
    justify-content: center;
    flex-wrap: wrap;
    padding: 50px 0;
  }

  .popular__item {
    padding: 10px;
  }

  .reason__items {
    padding: 50px 0;
  }

  .about__inner {
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top: 50px;
    padding-bottom: 70px;
  }

  .about__blog {
    margin: 0 20px;
  }

  .footer__menu {
    margin-right: 50px;
  }
  
  .footer__form-input {
    width: 330px;
  }
}

@media (max-width: 900px) {
  body {
    font-size: 18px;
  }

  .header__logo {
    padding: 30px 0 40px;
  }

  .header__logo-img {
    max-width: 250px;
  }

  .header__menu-link {
    padding: 20px 10px;
  }

  .reason__item {
    width: 350px;
    margin: 10px;
  }

  .reason__item-title {
    font-size: 24px;
    line-height: 24px;
    padding-left: 0;
  }

  .reason__item-title::before {
    display: none;
  }

  .our-managers {
    margin-bottom: 10px;
  }

  .footer__top-inner {
    justify-content: center;
    flex-wrap: wrap;
  }

  .footer__menu-list {
    display: flex;
    max-width: 100%;
    justify-content: space-around;
  }

  .footer__menu {
    width: 100%;
    margin-right: 0;
    margin-bottom: 20px;
  }
}

@media (max-width: 600px) {
  .slider__item  {
    min-height: 400px;
  }

  .search__form {
    flex-wrap: wrap;
  }

  .search__form-label {
    width: 100%;
    text-align: center;
  }

  .search__form-btn {
    font-size: 18px;
  }

  .search__form-btn::before {
    top: 20px;
  }

  .form-input {
    margin: 20px 0;
    height: 63px;
  }

  .reason__items {
    flex-direction: column;
  }

  .reason__item {
    width: 100%;
    margin: 10px auto;
    text-align: center;
  }

  .best__title {
    width: 100%;
  }

  .footer__form {
    flex-direction: column;
    margin-bottom: 20px;
  }

  .footer__logo-img {
    width: 250px;
  }

  .footer__form-input {
    width: 310px;
  }

  .footer__menu-list {
    flex-direction: column;
    align-items: center;
  }
}